<div class="container">
  <%= form_with(model: pet) do |form| %>
    <div class="d-flex justify-content-center">
      <% if pet.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(pet.errors.count, "error") %> prohibited this pet from being saved:</h2>

          <ul>
            <% pet.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>

    <div class="col-12">
      <div class="row mb-3 justify-content-center">
      <%= form.label :pet_name, class: "col-sm-3 col-form-label", style: "color: #515a5a; font-weight: bold" %>
      <div class="col-sm-3">
        <%= form.text_field :pet_name, class: "form-control", placeholder: "Enter cat's name" %>
      </div> 
    </div>

    <div class="col-12">
      <div class="row mb-3 justify-content-center">
      <%= form.label :birthday, class: "col-sm-3 col-form-label", style: "color: #515a5a; font-weight: bold" %>
      <div class="col-sm-3">
        <%= form.date_field :birthday, class: "form-control", placeholder: "Enter cat's name" %>
      </div> 
    </div>

    <div class="col-12">
      <div class="row mb-3 justify-content-center">
      <%= form.label :weight, class: "col-sm-3 col-form-label", style: "color: #515a5a; font-weight: bold" %>
      <div class="col-sm-3">
        <%= form.text_field :weight, class: "form-control", placeholder: "Enter cat's weight" %>
      </div> 
    </div>

    <div class="col-12">
      <div class="row mb-3 justify-content-center">
      <%= form.label :gender, class: "col-sm-3 col-form-label", style: "color: #515a5a; font-weight: bold" %>
      <div class="col-sm-3">
        <%= form.select :gender, [["Male"], ["Female"], ["Rather Not To Answer"]], { prompt: "Choose Cat's gender" }, class: "form-control" %>
      </div> 
    </div>

    <div class="col-12">
      <div class="row mb-3 justify-content-center">
      <%= form.label :breed, class: "col-sm-3 col-form-label", style: "color: #515a5a; font-weight: bold" %>
      <div class="col-sm-3">
        <%= form.text_field :breed, class: "form-control", placeholder: "Enter cat's breed" %>
      </div> 
    </div>

    <div class="d-flex justify-content-center">
      <%= form.submit "Add a Pet" %>
    </div>
  <% end %>
</div>