<div id="<%= dom_id pet %>">
  <p>
    <strong>Pet name:</strong>
    <%= pet.pet_name %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= pet.birthday %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= pet.weight %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= pet.gender %>
  </p>

  <p>
    <strong>Breed:</strong>
    <%= pet.breed %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= current_user.name.capitalize %>
  </p>

</div>
