<div class="container">
  <%= form_with(model: user) do |form| %>
    <div class="d-flex justify-content-center">
      <%= render 'shared/errors', obj: @user %>
    </div>

    <div class="col-12">
      <div class="row mb-3 justify-content-center">
      <%= form.label :name, class: "col-sm-3 col-form-label", style: "color: #515a5a; font-weight: bold" %>
      <div class="col-sm-4">
        <%= form.text_field :name, class: "form-control", placeholder: "Enter a username", :required => true %>
       </div> 
    </div>

    <div class="col-12">
      <div class="row mb-3 justify-content-center">
      <%= form.label :email, class: "col-sm-3 col-form-label", style: "color: #515a5a; font-weight: bold" %>
      <div class="col-sm-4">
        <%= form.email_field :email, class: "form-control", placeholder: "Enter your email address", :required => true %>
      </div>
    </div>

    <div class="col-12">
      <div class="row mb-3 justify-content-center">
        <%= form.label :password, class: "col-sm-3 col-form-label", style: "color: #515a5a; font-weight: bold" %>
        <div class="col-sm-4">
          <%= form.password_field :password, class: "form-control", placeholder: "Create password", minlength: 5, :required => true %>
          <div id="passwordHelpBlock" class="form-text">Password should contain at least 5 characters</div>
      </div>
    </div>

    <div class="col-12">
      <div class="row mb-3 justify-content-center">
        <%= form.label :password_confirmation, class: "col-sm-3 col-form-label", style: "color: #515a5a; font-weight: bold" %>
        <div class="col-sm-4">
        <%= form.password_field :password_confirmation, class: "form-control", placeholder: "Please type your password again", :required => true %>
      </div>
    </div>

    <div class="col-12">
      <%= render "shared/time_zone_select", {form: form, class_names: "hidden"} %>
    </div>

    <div class="d-flex justify-content-center">
      <%= form.submit "Create New User" %>
    </div>
  <% end %>
</div>