<div id="<%= dom_id tracker %>">
  <p>
    <strong>Pet:</strong>
    <%= tracker.pet_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= tracker.date %>
  </p>

  <p>
    <strong>Feeding time:</strong>
    <%= tracker.feeding_time %>
  </p>

  <p>
    <strong>Time of eat back and forth:</strong>
    <%= tracker.time_of_eat_back_and_forth %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= tracker.type %>
  </p>

  <p>
    <strong>Brand:</strong>
    <%= tracker.brand %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= tracker.description %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= tracker.amount %>
  </p>

  <p>
    <strong>Left amount:</strong>
    <%= tracker.left_amount %>
  </p>

  <p>
    <strong>Favorite score:</strong>
    <%= tracker.favorite_score %>
  </p>

</div>
